@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url(CursedTimerUlil-Aznm.ttf);
    font-style:normal;
    font-weight: bold;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
    ;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 5% auto;
}

.score {
    font-family: 'Cursed Timer ULiL';
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 160px;
    margin: 12px 15px;
    padding: 22px 10px;
    text-align: center;
    border-radius: 5px;
    height: 130px;
}

.column {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #EEEEEE;
    text-align: center;
}

.score-increment {
    background: none;
    /* padding: 9px 13.5px; */
    width: 45px;
    height: 45px;
    margin: 12px 6px;
    line-height: 28px;
    text-align: center;
    /* justify-self :flex-start; */
    border-radius: 7px;
    color: #9AABD8;
    border-color: #9AABD8;
    font-family: 'Cursed Timer ULiL';
    font-size: 16px;
    /* align-self: center; */
}

.reset-score{
    padding: 18px 30px;
    font-size: 30px;
    font-family: 'Cursed Timer ULiL';
    font-weight:bold;
    width: 200px;
    outline: none;
    height: 65px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #FB98AA;
    color: #000000;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }
  
  .reset-score:hover {
    animation: a 0.5s 1 linear;
  }
  
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }



